<div class="divi">
    <table class="table">
        <thead class="thead-dark" align="center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Empresa</th>
                <th scope="col">Ver Página</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of empresas" align="center">
                <th scope="row">{{i.id}}</th>
                <td>{{i.denominacion}}</td>
                <td>
                    <a href="/home/{{i.id}}">Home de la Página</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>